@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}
a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
      .headerleft {
        display: flex;
        // align-items: center;
              ul {
                display: flex;
                // align-items: center;
                li {
                  margin-right: 30px;
                }
              }
      } 
      .contact {
        width: 200px;
        height: 80px;
        line-height: 80px;
        background-color: #000;
        color: #fff;
        font-size: 0.75rem;
        display: inline-block;
        text-align: center;
      }
      .contact:hover {
        background-color: #333;
      }
}

#mainvisual {
  margin-bottom: 120px;
        img {
          width: 100%;
          height: calc(100vh - 80px);
          object-fit: cover;
        }
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
  .english {
    display: block;
    font-size: 2.25rem;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
  }
  .japanese {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 36px;
  }
}
.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}

#news {
  margin-bottom: 120px;
}
#news .list {
  display: flex;
  justify-content: space-between;
}
#news .list li {
  width: calc(100%/3);
  border-right: solid 1px #000;
  padding: 10px 20px;
  .date-area {
    margin-bottom: 16px;
    span {
      width: 50px;
      height: 20px;
      line-height: 20px;
      background-color: #000;
      color: #fff;
      display: inline-block;
      font-size: 0.75rem;
      margin-left: 10px;
      text-align: center;
    }
  }
}
#news .list li:first-child {
  padding-left: 0;
}
#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}

#about {
  display: flex;
  margin-bottom: 120px;
  .img {
    width: 55%;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .text {
    width: 45%;
    padding: 180px 5% 0 5%;
    p {
      line-height: 2.2;
    }    
  }
}

#business {
  margin-bottom: 120px;
  .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    .left {
      width: 46%;
      margin-top: 100px;
    }
    .right {
      width: 46%;
    }
    .item {
      margin-bottom: 50px;
    }
    // .item:last-child {
    //   margin-bottom: 0;
    // }
    .title {
      font-weight: bold;
      margin: 0 0 10px 18px;
      position: relative;
    }
    .title::before {
      content: "";
      width: 8px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: -18px;
    }
  }
}

#company {
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
  .text {
    width: 55%;
    background-color: #fff;
    padding: 100px 8% 100px 6%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .img {
    width: 53%;
    position: absolute;
    top: 115px;
    right: 0;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    dt {
      width: 20%;
      margin-top: 10px;
    }
    dt:first-of-type {
      margin-top: 0;
    }
    dd {
      width: 80%;
      margin-top: 10px;
    }
    dd:first-of-type {
      margin-top: 0;
    }
    .add {
      margin-left: 20%;
    }
  }
}

.footer {
  background-color: #fff;
  padding-bottom: 20px;
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    .logo {
      margin-right: 0;
    }
  }
  .copyright {
    font-size: 0.625rem;
  }
}