html {
  font-size: 100%;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headerleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .headerleft ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .headerleft ul li {
  margin-right: 30px;
}

.header .contact {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}

.header .contact:hover {
  background-color: #333;
}

#mainvisual {
  margin-bottom: 120px;
}

#mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}

.section-title .english {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}

.section-title .japanese {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}

.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}

#news {
  margin-bottom: 120px;
}

#news .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news .list li {
  width: calc(100%/3);
  border-right: solid 1px #000;
  padding: 10px 20px;
}

#news .list li .date-area {
  margin-bottom: 16px;
}

#news .list li .date-area span {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}

#news .list li:first-child {
  padding-left: 0;
}

#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

#about .img {
  width: 55%;
}

#about .img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}

#about .text p {
  line-height: 2.2;
}

#business {
  margin-bottom: 120px;
}

#business .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
}

#business .flex .left {
  width: 46%;
  margin-top: 100px;
}

#business .flex .right {
  width: 46%;
}

#business .flex .item {
  margin-bottom: 50px;
}

#business .flex .title {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}

#business .flex .title::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

#company {
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#company .text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}

#company .img {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}

#company .img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#company .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#company .info dt {
  width: 20%;
  margin-top: 10px;
}

#company .info dt:first-of-type {
  margin-top: 0;
}

#company .info dd {
  width: 80%;
  margin-top: 10px;
}

#company .info dd:first-of-type {
  margin-top: 0;
}

#company .info .add {
  margin-left: 20%;
}
/*# sourceMappingURL=style.css.map */